.game {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.gameboard {
  display: grid;
  width: 800px; /* 30vw */
  height: 800px;
  background-color: rgb(14, 14, 14);
  border-radius: 9px;
  padding: 2px;
}

.tile {
  border-radius: 9px;
  margin: 3px;
}