hr {
  size: 10;
  width: 100%;
  border-color: rgb(14, 14, 14);
}

.topbar {
  position: absolute;
  width: 100%;
  top: 0px;
}

.body {
  position: absolute;
  top: 5%;
  width: 100%;
}

button {
  border: 0;
  font-size: medium;
  color: rgba(255, 255, 255, 0.883);
  font-weight: bold;
  background: linear-gradient(120.56deg, rgba(204, 0, 255, 0.205) 0%, rgba(0, 195, 255, 0.431) 100%);
}